@font-face {
  font-family: 'Gill Sans';
  src: url(GILLUBCD.TTF) format('truetype');
}

@font-face {
  font-family: 'Gill Sans MT';
  src: url(GILBI___.TTF) format('truetype');
}

@font-face {
  font-family: Calibri;
  src: url(calibrili.ttf) format('truetype');
}

@font-face {
  font-family: 'Trebuchet MS';
  src: url(trebucbi.ttf) format('truetype');
}

body {
  background-color: #000b21 ;
  margin: 0;
  padding: 0;
  z-index: 1;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Cursor Animation */
.cursor-shadow {
  position:fixed;
  width: 800px;
  height: 800px;
  border-radius: 50%;
  background: radial-gradient(circle at center, #091e45 0%, rgba(21, 15, 63, 0) 70%);
  pointer-events: none;
  transform: translate(-50%, -50%);
  top: 100%;
  left: 100%;
  z-index: -1;
}

/* Starting Page Animation CSS Style */
.loading-animation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000f2c;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hexagon-container {
  position: relative;
  width: 200px;
  height: 200px;
  animation: hexagon-animation 1s forwards;
}

.hexagon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70.7%;
  height: 70.7%;
}

.hexagon-path {
  fill: transparent;
  stroke: #00d5ff;
  stroke-width: 4px;
  stroke-dasharray: 700;
  stroke-dashoffset: 700;
  animation: hexagon-animation 1s linear forwards;
  border: black 5px solid;
}

.hexagon-letter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
  font-size: 50px;
  color: #00d5ff;
  font-weight: bold;
  opacity: 0;
  animation: letter-animation 1s linear forwards 1s;
}

@keyframes hexagon-animation {
  0% {
      stroke-dashoffset: 850;
  }
  100% {
      stroke-dashoffset: 0;
  }
}

@keyframes letter-animation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.merge-animation {
  animation: merge-animation 1s linear forwards 2s;
}

@keyframes merge-animation {
  0% {
      transform: scale(1);
  }
  100% {
      transform: scale(0);
  }
}

/*  Navigation bar CSS style */
header {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  padding: 5px 50px;
  top: 0px;
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  margin: 0;
  z-index: 2;
}


.logo {
  position: relative;
  width: 60px;
  height: 60px;
  transition: transform 0.7s;
  transform-style: preserve-3d;
}

.logo text {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}

.logo:hover {
  transform: scale(1.1) rotateY(360deg);
}

.menu {
  display: flex;
  align-items: center;
  padding: 10px;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  margin-left: 20px ;
  margin-right: 20px;
}

.menu ul li{
  margin: 20px;
  display: inline-block;
}

.menu li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  transition: color 0.3s;
}

.menu li a:hover {
  color: #00d5ff;
}

.resume-button {
  display: inline-block;
  padding: 10px 20px;
  border: solid 2px #00d5ff;
  border-radius: 10px;
  color: #fff;
  font-size: 18px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  text-decoration: none;
  transition: transform 0.3s;
}

.resume-button:hover {
  transform: translateY(-5px);
  color: #00d5ff;
}

/* Main Section starts */
main {
  margin: 0px auto;
  max-width: 1600px;
  min-height: 100vh;
  padding: 0px 150px;
}


section {
  margin: 0px 5px;
  padding: 100px 0px;
  max-width: 1000px;

}

/* Intro Section */
#Intro {
  margin: 0px auto;
  padding: 0px 150px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  flex-direction: column;
  align-items: flex-start;
  min-height: 100vh;
  height: 100vh;
  padding: 0px;
}

#Intro h1 {
  margin: 5px;
  padding: 5px;
  color: #d5e5e8;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  font-size: 70px;
  border-bottom: #00d5ff solid 1px;
}

#Intro h4 {
  margin: 5px;
  padding: 5px;
  color: #00d5ff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  font-size: 20px;
}
#Intro h2 {
  margin: 5px;
  padding: 5px;
  color: #a1efff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  font-size: 20px;
  max-width: 750px;
}
#Intro h3 {
  margin: 5px;
  padding: 5px;
  color: #c8e3e8;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  font-size: 40px;
}

/* Experience Section */
#Experience {
  margin: 0px auto;
  padding: 0px 150px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  flex-direction: column;
  align-items: flex-start;
  min-height: 100vh;
  height: 100vh;
  padding: 0px;
  
}

#Experience h1 {
  margin: 5px;
  padding: 5px;
  color: #d5e5e8;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  font-size: 40px;
  border-bottom: #00d5ff solid 1px;
}

#Experience .CheggInd {
  box-sizing: border-box;
  padding: 40px 50px;
  display: inline-block;

}
#Experience .CheggInd .CheggIndHeadings {
  display: inline-block;
  align-items: center;
  justify-content: space-between;
  margin: 10px auto;
  
}
#Experience .CheggInd .CheggIndHeadings h2{
  color: #4edbf1;
  font-weight: bold;
  font-size: 35px;
}
#Experience .CheggInd .CheggIndHeadings h3{
  color: #ffa4a4;
}
#Experience .CheggInd .CheggIndHeadings h4{
  color: #ffffff;
}
.CheggIndContent {
  display: flex;
  align-items: center;
}
.CheggIndContent p{
  color: #b8b7b7;
  font-size: 20px;
  max-width: 900px;
}
.CheggIndContent .ImgChegg img{
  height: 90px;
  width: 320px;
  padding: 0px 30px;
}

.CheggInd .CheggCertificate {
  margin: 20px 0px;;
}
.CheggInd .CheggCertificate a{
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  padding: 10px 20px;
  border: solid #00d5ff 2px;
  border-radius: 12px;
  transition: transform 0.3s ;
}

.CheggInd .CheggCertificate a:hover{
  color: #00d5ff;
}

.CheggInd .CheggCertificate:hover {
  transform: translateY(-5px);
  color: #00d5ff;
}

/* Work Section */
#Work {
  margin: 0px auto;
  padding: 0px 150px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  flex-direction: column;
  align-items: flex-start;
  min-height: 100vh;
  height: 100vh;
  padding: 0px;
}

#Work h1 {
  margin: 5px;
  padding: 5px;
  color: #d5e5e8;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  font-size: 40px;
  border-bottom: #00d5ff solid 1px;
}

#Work .Portfolio {
  box-sizing: border-box;
  padding: 60px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#Work .Portfolio .PortfolioContent{
  font-size: 25px;
  display: flex;
  align-items: center;
  flex-direction:column;
}

#Work .Portfolio .PortfolioContent .Name h2 {
  color: #00d5ff;
  font-size: 30px;
}
#Work .Portfolio .PortfolioContent .Skills ul {
  color: #b8b7b7;
  display: flex;
  list-style: none;
  list-style-position: inside;
  font-size: 15px;
  justify-content:space-between;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
}
#Work .Portfolio .PortfolioContent .Skills ul li{
  padding: 0px 20px;
}

#Work .Portfolio .PortfolioImg {
  position: relative;
}

#Work .Portfolio .PortfolioImg img {
  max-height: 200px;
  width: auto;
  margin: 0px 40px;
  box-shadow: 0px 0px 10px rgba(53, 53, 53, 0.5);
  border: solid 1px #165764;
  transition: filter 0.3s ease;
}

#Work .Portfolio .PortfolioImg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 170, 255, 0.4);
  opacity: 0;
  transition: opacity 0.5s ease;
}

#Work .Portfolio:hover .PortfolioImg img {
  filter: blur(4px);
}

#Work .Portfolio .LinkLogo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: 1;
}

#Work .Portfolio:hover .LinkLogo {
  opacity: 1;
}

#Work .Portfolio .LinkLogo i {
  font-size: 30px;
  color: #00d5ff;
  transition: transform 0.5s;
}
#Work .Portfolio .LinkLogo i:hover {
  transform: scale(1.5);
}

#Work .DCProject {
  box-sizing: border-box;
  padding: 60px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#Work .DCProject .DcContent{
  font-size: 25px;
  display: flex;
  align-items: center;
  flex-direction:column;
}

#Work .DCProject .DcContent .Name h2 {
  color: #00d5ff;
  font-size: 30px;
}
#Work .DCProject .DcContent .Skills ul {
  color: #b8b7b7;
  display: flex;
  list-style: none;
  list-style-position: inside;
  font-size: 15px;
  justify-content:space-between;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
}
#Work .DCProject .DcContent .Skills ul li{
  padding: 0px 20px;
}

#Work .DCProject .DcImg {
  position: relative;
}

#Work .DCProject .DcImg img {
  max-height: 200px;
  width: auto;
  margin: 0px 15px;
  box-shadow: 0px 0px 10px rgba(53, 53, 53, 0.5);
  border: solid 1px #165764;
  transition: filter 0.3s ease;
}

#Work .DCProject .DcImg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 170, 255, 0.4);
  opacity: 0;
  transition: opacity 0.5s ease;
}

#Work .DCProject:hover .DcImg img {
  filter: blur(4px);
}

#Work .DCProject .LinkLogo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 1;
}

#Work .DCProject:hover .LinkLogo {
  opacity: 1;
}

#Work .DCProject .LinkLogo i {
  font-size: 30px;
  color: #00d5ff;
  transition: transform 0.5s;
}
#Work .DCProject .LinkLogo i:hover {
  transform: scale(1.5);
}


/* Contact Section */
#ContactMe {
  margin: 0 auto;
  padding: 0 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  height: 100vh;
}

#ContactMe h1 {
  margin: 5px;
  padding: 5px;
  color: #d5e5e8;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  font-size: 40px;
  border-bottom: #00d5ff solid 1px;
}

.contact-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 30px;
  color: #fff;
}

#myForm {
  display: flex;
  flex-direction: column;
  width: 45%;
  max-width: 400px;
}

#myForm .form-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

#myForm .form-row .input-data {
  width: 100%;
}

#myForm label,
#myForm input,
#myForm textarea,
#myForm button {
  width: 100%;
  margin-bottom: 10px;
}

#myForm textarea {
  resize: vertical;
}

#myForm button {
  display: inline-block;
  padding: 10px 20px;
  border: solid 2px #00d5ff;
  border-radius: 10px;
  background-color: #000b21;
  color: #fff;
  font-size: 18px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  text-decoration: none;
  transition: transform 0.3s;
}

#myForm button:hover {
  transform: translateY(-5px);
  color: #00d5ff;
}

.contact-info {
  width: 45%;
  color: #fff;
  text-align: left;
}

.contact-info h2 {
  margin-bottom: 25px;
}

.contact-info p {
  margin-bottom: 10px;
}





/* Hamburger / Toggel Menu CSS style */
.Barrs-icon {
  display: none;
}

.mobile-menu {
  display: none;

}

#menu-toggle {
  display: none;
}

@media (max-width: 770px) {

  header {
    margin: 0;
    padding: 12px 30px;
  }

  .logo {
    margin: 5px;
    width: 50px;
    height: 50px;
  }
  .menu {
    display: none;
  }

  .Barrs-icon {
    
    display: block;
    position: absolute;
    cursor: pointer;
    top: 30px;
    right: 35px;
    z-index: 2;
    transition: transform 0.5s;
  }
  .Barrs-icon:hover {
    transform: scale(1.2);
  }

  .mobile-menu {
    display: block;
    position: fixed;
    width: 100%;
    height: 120vh;
    background: transparent;
    backdrop-filter: blur(10px);
    top: 85px;
    bottom: 100%;
    right: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  .mobile-menu ul {
    padding-left: 0 ;
  }
  .mobile-menu ul li{
    list-style: none;
    margin: 20px;
    padding: 30px;
  }

  .mobile-menu ul a{
    text-decoration: none;
    border: #fbfcff;
    color: #fff;
    font-weight: bold ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
  }

  .mobile-menu ul li a .Button {
    border: 2px solid #ede9e9;
    border-radius: 5px;
  }
  
  .mobile-menu ul a:hover {
    color: #00d5ff;
  }
  #menu-toggle {
    display: none;
  }

  .mobile-menu .mobile-menu-resume {
    margin: 20px;
    padding: 30px;
  }

  .mobile-menu .mobile-menu-resume a{
    text-decoration: none;
    color: #ffffff;
    font-weight: bold ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    border: #00d5ff solid 2px;
    padding: 10px 20px;
    border-radius: 10px;
    transition: transform 1.0s, background-color 0.3s;
  }
  .mobile-menu .mobile-menu-resume:hover {
    transform: scale(1.1);
  }
  .mobile-menu .mobile-menu-resume a:hover {
    transform: scale(1.1);
    color: #00d5ff;
  }

  /* Main Section starts here */
  main {
    margin: 0px auto;
    min-height: 100vh;
    padding: 0px 20px;
  }

  #Intro {
    margin: 0px auto;
    padding: 0px 5px;
  }

  #Intro h4{
    font-size: 18px;
  }

  #Intro h1{
    font-size: 37px;
  }
  #Intro h3{
    font-size: 25px;
  }
  #Intro h2{
    font-size: 18px;
  }

  #Experience {
    margin: 0px auto;
    padding: 0px 5px;
  }

  #Experience .CheggInd{
    box-sizing: border-box;
    padding: 0px 25px;
  }

  #Experience .CheggIndContent {
    display: inline-block;
  }

  #Experience h1 {
    font-size: 35px;
  }
  #Experience .CheggInd .CheggIndHeadings h2{
    font-size: 25px;
  }
  #Experience .CheggInd .CheggIndHeadings h3{
    font-size: 15px;
  }
  #Experience .CheggInd .CheggIndHeadings h4{
    font-size: 15px;
  }
  .CheggIndContent p{
    font-size: 17px;
  }
  .CheggIndContent .ImgChegg img{
    height: 60px;
    width: 250px;
    padding: 10px 0px;
  }

  #Work {
    margin: 0px auto;
    display: inline-block;
    padding: 0px 5px;
  }
  #Work h1 {
    font-size: 35px;
  }

  #Work .Portfolio {
    display: inline-block;
    padding: 40px 5px;
  }
  #Work .Portfolio .PortfolioContent .Name h2 {
    font-size: 25px;
  }
  #Work .Portfolio .PortfolioContent{
    font-size: 20px;
    align-items:flex-start;
  }
  #Work .Portfolio .PortfolioContent .Skills ul {
    font-size: 14px;
  }
  #Work .Portfolio .PortfolioContent .Skills ul li{
    padding: 0;
    padding-right: 20px;
  }
  
  #Work .Portfolio .PortfolioImg {
    position: relative;
  }
  #Work .Portfolio .PortfolioImg img {
    max-height: 160px;
    width: auto;
    margin: 0px 2px;
  }
  #Work .DCProject {
    display: inline-block;
    padding: 40px 5px;
  }
  #Work .DCProject .DcContent .Name h2 {
    font-size: 25px;
  }
  #Work .DCProject .DcContent{
    font-size: 20px;
    align-items:flex-start;
  }
  #Work .DCProject .DcContent .Skills ul {
    font-size: 14px;
  }
  #Work .DCProject .DcContent .Skills ul li{
    padding: 0;
    padding-right: 20px;
  }
  
  #Work .DCProject .DcImg {
    position: relative;
  }
  #Work .DCProject .DcImg img {
    max-height: 160px;
    width: auto;
    margin: 0px 2px;
  }
}

@media (max-width: 1000px) and (min-width: 770px) {
    /* Main Section starts here */
  main {
    margin: 0px auto;
    min-height: 100vh;
    padding: 0px 100px;
  }

  #Intro {
    margin: 0px auto;
    padding: 0px 10px;
  }

  #Intro h4{
    font-size: 20px;
  }

  #Intro h1{
    font-size: 55px;
  }
  #Intro h3{
    font-size: 32px;
  }
  #Intro h2{
    font-size: 20px;
  }

  #Experience .CheggInd{
    box-sizing: border-box;
    padding: 0px 25px;
  }

  #Experience .CheggIndContent {
    display: flex;
  }

  #Experience h1 {
    font-size: 30px;
  }
  #Experience .CheggInd .CheggIndHeadings h2{
    font-size: 25px;
  }
  #Experience .CheggInd .CheggIndHeadings h3{
    font-size: 15px;
  }
  #Experience .CheggInd .CheggIndHeadings h4{
    font-size: 15px;
  }
  .CheggIndContent p{
    font-size: 17px;
    padding: 0px 10px;
  }
  .CheggIndContent .ImgChegg img{
    height: 60px;
    width: 250px;
    padding: 30px 0px;
  }
  #Work h1 {
    font-size: 30px;
  }
}
@media (min-width: 1000px) and (max-width: 1200px) {
    /* Main Section starts here */
  main {
    margin: 0px auto;
    min-height: 100vh;
    padding: 0px 120px;
  }

  #Intro {
    margin: 0px auto;
    padding: 0px 10px;
  }

  #Intro h4{
    font-size: 21px;
  }

  #Intro h1{
    font-size: 60px;
  }
  #Intro h3{
    font-size: 38px;
  }
  #Intro h2{
    font-size: 21px;
  }
  #Experience .CheggInd{
    box-sizing: border-box;
    padding: 0px 25px;
  }

  #Experience .CheggIndContent {
    display: flex;
  }

  #Experience h1 {
    font-size: 40px;
  }
  #Experience .CheggInd .CheggIndHeadings h2{
    font-size: 30px;
  }
  #Experience .CheggInd .CheggIndHeadings h3{
    font-size: 20px;
  }
  #Experience .CheggInd .CheggIndHeadings h4{
    font-size: 17px;
  }
  .CheggIndContent p{
    font-size: 17px;
    padding: 0px 10px;
  }
  .CheggIndContent .ImgChegg img{
    height: 70px;
    width: 280px;
    padding: 30px 0px;
  }
  #Work h1 {
    font-size: 40px;
  }
}
